@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&family=Love+Ya+Like+A+Sister&display=swap');
body {
    background-color: #ffffff;
    margin: 0;
    font-family: 'Comic Neue', cursive;
}
.navigation {
    position: fixed;
    width: 100%;
    z-index: 2;
    padding: 0.5vw;
    display: flex;
    background-color: #fff;
    border-bottom: 0.2vw solid #00C986;
    box-shadow: rgba(86, 156, 114, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.navigation_bar {
    padding: 0.1vw;
    display: flex;
}
.navigation_keys {
    margin: 2.5vw;
    display: flex;
    position: absolute;
    right: 0;
}
.navigation_keys .subjects {
    display: flex;
    margin: -2.3vw 12vw;
}
.navigation_keys .subjects p {
    font-size: 1.3vw;
    font-weight: bold;
    padding: 0 2vw;
}
.navigation_keys .tools {
    margin: -1.5vw -0.5vw 0.5vw 3vw;
}
.navigation_keys .tools a {
    margin-left: 1vw;
}
.overlay_search {
    background-color: rgba(0, 0, 0, 0.35);
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1;
}
.search_bar {
    background-color: #fff;
    width: 26.5vw;
    margin: 7.5vw 0 0 68vw;
    border-radius: 0.2vw;
    padding: 0.6vw;
}
[placeholder]:focus::-webkit-input-placeholder {
    transition: text-indent 0.2s 0.2s ease; 
    text-indent: -100%;
    opacity: 1;
 }
.search_bar input {
    width: 23vw;
    border: none;
    outline: none;
}
.search_result_box {
    background-color: #fff;
    width: 28.5vw;
    margin: 1vw 0 0 67vw;
    border-radius: 0.2vw;
    padding: 0.7vw;
}
.search_result {
    margin: 0 0 1.5vw 0;
    display: flex;
}
.wqi_search_result {
    margin: 0.1vw 0 0 1vw;
    background-color: #A8E05F;
    border-radius: 0.3vw;
    color: #fff;
    font-size: 0.8vw;
    padding: 0.2vw 1vw;
}
.content {
    font-family: 'Love Ya Like A Sister', cursive;
    padding: 5.5vw 0;
    padding-bottom: 5vw;
    box-shadow: rgba(86, 156, 114, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.background {
    position: relative;
    text-align: center;
}
.over_background_header {
    font-size: 5vw;
    color: #007951;
    position: absolute;
    top: 12%;
    left: 12%;
    transform: translate(-0%, -40%);
}
.over_background_head {
    font-size: 2.5vw;
    color: #007951;
    position: absolute;
    top: 45%;
    left: 65%;
    transform: translate(-0%, -40%);
}
.over_background_image {
    position: absolute;
    top: 82%;
    left: 86.5%;
    transform: translate(-0%, -40%);
}
.reason {
    margin: 5vw 2vw 0 5vw;
}
.reason_content {
    margin-top: 3vw;
    font-family: 'Comic Neue', cursive;
    display: flex;
}
.monitoring {
    width: 30%;
    text-align: center;
}
.visual {
    width: 30%;
    text-align: center;
    margin-left: 3vw;
}
.solution {
    width: 30%;;
    text-align: center;
    margin-left: 3vw;
}
.reason_head {
    text-align: center;
}
.about_us {
    margin: 2vw 2vw 0 5vw;
    text-align: center;
}
.questions {
    margin: 5vw 2vw 0 5vw;
    text-align: center;
}
.questions_mailing {
    display: flex;
    margin-left: 3vw;
}
.questions_mailing .email {
    margin: 1.5vw 0 0 -15vw;
    width: 39vw;
    height: 1vw;
    font-size: medium;
    border: none;
    padding: 0.5vw;
    border-bottom: 0.15vw solid #000;
}
.footer {
    display: flex;
    padding: 1vw 5vw;
    border-top: 0.2vw solid #00C986;
}
.subjects_footer {
    padding-top: 1vw;
    display: flex;
}
.subjects_footer .first {
    padding: 0.3vw 5vw ;
    font-size: 1.2vw;
}
.footer .second {
    padding: 0.3vw 5vw ;
    font-size: 1.2vw;
}
.footer .third {
    padding: 0.3vw 5vw ;
    font-size: 1.2vw;
}
.mailing_list {
    margin-left: 3vw;
}
.mailing_list .email_mailing {
    font-family: 'Comic Neue', cursive;
    margin: -3vw 0 0 -1vw;
    width: 15vw;
    height: 1vw;
    font-size: 1vw;
    border: none;
    padding: 0.5vw;
    border-bottom: 0.15vw solid #000;
}
.mailing_list .social_media {
    margin-top: 1vw;
}