@import url('https://fonts.googleapis.com/css2?family=Familjen+Grotesk:wght@400;500;600;700&family=Inter:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Familjen+Grotesk:wght@400;500;600;700&family=Inter:wght@600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
body {
    background-color: #ffffff;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

/* navbar */
.message {
    position: fixed;
    z-index: 2;
}
.navigation {
    position: fixed;
    width: 100%;
    z-index: 2;
    padding: 0.5vw;
    display: flex;
    background-color: #fff;
    border-bottom: 0.2vw solid #3E4784;
}
.navigation_bar {
    padding: 0.1vw;
    display: flex;
}
.navigation_bar img {
    width: 30%;
    margin-left: 30px;
}

.navigation_keys {
    margin: 2.5vw;
    margin-left: 0px;
    display: flex;
    position: absolute;
    right: 0;
}
.navigation_keys .subjects {
    display: flex;
    margin: -2.3vw 12vw;
    margin-left: 0px;
}
.navigation_keys .subjects p {
    font-family: 'Inter', sans-serif;
    font-size: 1.3vw;
    font-weight: 600;
    padding: 0 2vw;
    margin-left: 0px;
}

.navigation_keys .subjects #current {
    font-weight: 700;
    text-decoration: underline;
}

.navigation_keys .tools {
    margin: -1.5vw -0.5vw 0.5vw 3vw;
}
.navigation_keys .tools a {
    margin-left: 1vw;
}
/* navbar */


.content {
    padding: 7.5vw 0 2.5vw 0;
    box-shadow: #3E4784 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.news_content {
    font-family: 'Roboto Slab', serif;
    margin: 2vw 10vw 3vw 10vw;
    display: flex;
}
.news_content .headline {
    margin-right: 1vw;
    padding: 1vw;
    width: 90%;
}
.content a {
    text-decoration: none;
    color: #000;
}
.content .name:hover {
    color: #3E4784;
    transition: 0.2s;
}
.news_content .headline_others {
    padding: 1vw;
    width: 35%;
}
.news_content .headline_others .small_article {
    margin-bottom: 1vw;
}
.other_articles {
    border-top: 0.1vw solid #cecece;
    padding-top: 3vw;

    display: flex;
    margin: -2vw 11vw 3vw 11vw;
}
.other_articles .review_article {
    width: 70%;
    padding: 0.6vw 1vw 0.6vw 2vw;
}

/* footer */
.footer {
    display: flex;
    background-color: #EAECF5;
    font-family: 'Inter', sans-serif;
    padding: 1vw 5vw;
    border-top: 0.2vw solid #3E4784;
}
.subjects_footer {
    margin-left: 200px;
    margin-right: 150px;
    padding-top: 1vw;
    display: flex;
    font-size: 1.5vw;
}
.subjects_footer .first {
    padding: 0.3vw 5vw ;
}
.footer .second {
    padding: 0.3vw 5vw ;
}
.footer .third {
    padding: 0.3vw 5vw;
    font-size: 1.2vw;
}
.mailing_list {
    margin-left: 3vw;
}
.mailing_list .email_mailing {
    font-family: 'Comic Neue', cursive;
    margin: -3vw 0 0 -1vw;
    width: 15vw;
    height: 1vw;
    font-size: 1vw;
    border: none;
    padding: 0.5vw;
    border-bottom: 0.15vw solid #000;
}
.mailing_list .social_media {
    margin-top: 1vw;
}
/* footer */