@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap');
body {
    background-color: #ffffff;
    margin: 0;
    font-family: 'Comic Neue', cursive;
}
.message {
    position: fixed;
    z-index: 2;
}
.navigation {
    position: fixed;
    width: 100%;
    z-index: 2;
    padding: 0.5vw;
    display: flex;
    background-color: #fff;
    border-bottom: 0.2vw solid #3E4784;
}
.navigation_bar {
    padding: 0.1vw;
    display: flex;
}
.navigation_keys {
    margin: 2.5vw;
    display: flex;
    position: absolute;
    right: 0;
}
.navigation_keys .subjects {
    display: flex;
    margin: -2.3vw 12vw;
}
.navigation_keys .subjects p {
    font-size: 1.3vw;
    font-weight: bold;
    padding: 0 2vw;
}
.navigation_keys .tools {
    margin: -1.5vw -0.5vw 0.5vw 3vw;
}
.navigation_keys .tools a {
    margin-left: 1vw;
}
.overlay_search {
    background-color: rgba(0, 0, 0, 0.35);
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1;
}
.search_bar {
    background-color: #fff;
    width: 26.5vw;
    margin: 7.5vw 0 0 68vw;
    border-radius: 0.2vw;
    padding: 0.7vw;
}
[placeholder]:focus::-webkit-input-placeholder {
    transition: text-indent 0.2s 0.2s ease; 
    text-indent: -100%;
    opacity: 1;
 }
.search_bar input {
    width: 23vw;
    border: none;
    outline: none;
}
.search_result_box {
    background-color: #fff;
    width: 28.5vw;
    margin: 1vw 0 0 67vw;
    border-radius: 0.2vw;
    padding: 0.7vw;
}
.search_result {
    margin: 0 0 1.5vw 0;
    display: flex;
}
.wqi_search_result {
    margin: 0.1vw 0 0 1vw;
    background-color: #A8E05F;
    border-radius: 0.3vw;
    color: #fff;
    font-size: 0.8vw;
    padding: 0.2vw 1vw;
}
.content {
    padding: 7.5vw 1vw 2vw 1vw;
    box-shadow: rgba(86, 156, 114, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.destination {
    display: flex;
}
.headings {
    font-family: 'Noto Sans', sans-serif;
    padding: 0 3vw;
}
.headings .headings_others {
    display: flex;
}
.headings .headings_others .followers {
    margin: -0.5vw 0 0 50vw;
    display: flex;
}
.general {
    display: flex;
    padding: 2vw 2.5vw;
}
.general .map {
    font-family: 'Noto Sans', sans-serif;
}
.general .map .view_map {
    margin: 0.5vw 0 0 1vw;
    background-color: transparent;
    border: 0.2vw solid #fff;
    border-radius: 0.3vw;
    padding: 0.4vw 1.2vw;
    color: #fff;
    font-size: 0.8vw;
    font-weight: bold;
}
.information {
    margin-left: 2vw;
}
.information .information_box {
    border-radius: 0.3vw;
    border: 0.3vw solid #6cbe00;
}
.information .information_box .quality_box {
    display: flex;
    background-color: #A8E05F;
    padding: 1.2vw;
    width: 61vw;
}
.information .information_box .quality_box .image_quality_box {
    padding: 0.5vw 1vw;
    border-radius: 0.5vw;
    background-color: #87C13C;
}
.information .information_box .quality_box .wqi {
    margin: 1.2vw 2vw 0 8vw;
}
.information .information_box .quality_box .quality_information {
    margin: 0 0 0 7.5vw;
}
.information .information_box .quality_box .quality_information .quality_information_others {
    margin-left: 0.3vw;
    text-align: center;
    background-color: #fff;
    border-radius: 0.3vw;
    width: 16.5vw;
    font-size: 1vw;
}
.information .others {
    display: flex;
}
.information .others .temperature {
    display: flex;
    margin-left: 4vw;
}
.information .others .wind {
    display: flex;
    margin-left: 18vw;
}
.information .others .wet {
    display: flex;
    margin-left: 15vw;
}
.data_provided {
    border-radius: 0.3vw;
    margin-top: 1vw;
    display: flex;
    border: 0.1vw solid #000;
    padding: 0.3vw;
}
.current_quality {
    border-radius: 0.3vw;
    margin: 1vw 2.5vw 0 2vw;
    width: 91.5vw;
    border: 0.1vw solid #b3b3b3;
    font-size: 1vw;
    display: flex;
    font-family: 'Noto Sans', sans-serif;
}
.current_quality .level {
    margin-left: 2.5vw;
}
.current_quality .index {
    margin-left: 25vw;
}
.current_quality .others {
    margin-left: 22vw;
}
.forecast {
    font-family: 'Noto Sans', sans-serif;
    margin: 0 2vw;
    padding: 0 0.5vw;
}
.forecast .forecast_info {
    margin-bottom: -1vw;
    font-weight: bold;
    font-size: 1vw;
    display: flex;
}
.forecast .forecast_box {
    font-size: 1vw;
    margin: 1vw 0 0 0;
    display: flex;
}
.forecast .forecast_box .quality_forecast_box {
    margin-left: 5.1vw;
    padding: 0 1vw;
    border-radius: 0.3vw;
    color: #3E821F;
    display: flex;
    background-color: #A8E05F;
}
.location_info {
    margin-top: 3vw;
}
.location_info .location_content {
    margin: 1vw 0 0 2.7vw;
    width: 90vw;
    padding: 0.5vw 0 0.5vw 1vw;
    border: 0.1vw solid #b3b3b3;
    border-radius: 0.3vw;
    font-family: 'Noto Sans', sans-serif;
    display: flex;
}
.location_info .location_content .second_box {
    margin-left: 27vw;
}
.location_images {
    margin-top: 3vw;
}
.location_images .images_box {
    display: flex;
    margin: 2vw 3vw;
}
.location_images .images_box .images_box1 {
    margin-right: 1vw;
}

.footer {
    display: flex;
    padding: 1vw 5vw;
    border-top: 0.2vw solid #3E4784;
}
.subjects_footer {
    padding-top: 1vw;
    display: flex;
}
.subjects_footer .first {
    padding: 0.3vw 5vw ;
    font-size: 1.2vw;
}
.footer .second {
    padding: 0.3vw 5vw ;
    font-size: 1.2vw;
}
.footer .third {
    padding: 0.3vw 5vw ;
    font-size: 1.2vw;
}
.mailing_list {
    margin-left: 3vw;
}
.mailing_list .email_mailing {
    font-family: 'Comic Neue', cursive;
    margin: -3vw 0 0 -1vw;
    width: 15vw;
    height: 1vw;
    font-size: 1vw;
    border: none;
    padding: 0.5vw;
    border-bottom: 0.15vw solid #000;
}
.mailing_list .social_media {
    margin-top: 1vw;
}